<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <div class="insideContainerFluid">
      <a class="navbar-brand" href="/">
        <img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/c_crop,w_189,h_74/v1713798598/PHOTO-2024-04-03-13-00-53_r0ulr2.jpg"
          alt=""
          loading="lazy"
          width="100px"
          style="border-radius: 0.4rem; margin-left: 1rem; margin-right: 0.5rem"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapsediv">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#homefourth">About Us</a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              style="
                background-color: midnightblue;
                color: white;
                border-radius: 0rem;
                padding-left: 1rem;
                padding-right: 1rem;
              "
              href="/getads"
              >Get Ads</a
            >
          </li>
          <li>
            <a
              class="nav-link"
              style="
                background-color: midnightblue;
                color: white;
                border-radius: 0rem;
                padding-left: 1rem;
                padding-right: 1rem;
              "
              href="/contactus"
            >
              Contact Us</a
            >
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Publish Ads
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Tuk-Tuk Ads</a></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
