<%layout("/layouts/boilerplate.ejs")%>
<div class="adoptionscontainer">
  <div class="adimgdiv">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713959043/360_F_273579269_R1iWp4iMt7UDIekUuwqVSx1r7BYv8H7Q_dfhdiv.jpg"
      alt=""
    />
    <h1>Tuk-Tuk</h1>
    <a href="/contactus">
      <button class="btn btn-primary">Contact Us</button>
    </a>
  </div>
  <div class="adimgdiv">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/c_crop,w_1000,h_900/v1714060736/bus-simple-transportation-icon-flat-design-vector-20538295_grdeeh.jpg"
      alt=""
    />
    <h1>Buses</h1>
    <a href="/contactus">
      <button class="btn btn-primary">Contact Us</button>
    </a>
  </div>
  <div class="adimgdiv">
    <div style="display: flex">
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713959043/360_F_273579269_R1iWp4iMt7UDIekUuwqVSx1r7BYv8H7Q_dfhdiv.jpg"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/c_crop,w_1000,h_900/v1714060736/bus-simple-transportation-icon-flat-design-vector-20538295_grdeeh.jpg"
        alt=""
      />
    </div>
    <h1>Tuk-Tuk + Buses</h1>
    <a href="/contactus">
      <button class="btn btn-primary">Contact Us</button>
    </a>
  </div>
</div>
