<%layout("/layouts/boilerplate.ejs")%>
<div class="big-div-home">
  <div id="blob"></div>
  <div id="blur">
    <div class="homeFirst">
      <div class="homeFirstLeft">
        <div>
          <div class="companyname">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1714125093/PHOTO-2024-04-26-15-21-02_cakt3a.jpg"
              width="500"
              height="300"
              style="
                object-fit: cover;
                object-position: top;
                border-radius: 1rem;
                box-shadow: 0 0 15px rgba(40, 1, 40, 0.5);
              "
              alt=""
            />
            <h5>Founder <br />Shri. Parasuram Bagaria</h5>
          </div>
          <h4>
            The Best Advertising & Marketing Firm of
            <span style="font-family: Lobster Two; font-size: larger"
              >Jodhpur.</span
            >
          </h4>
        </div>
        <div class="belowCompanyName">
          <h1>
            We Solemnly make you heard <br />
            'Louder' in RJ19
          </h1>
          <br />
          <p>Roaring the loudest on Jodhpur's Roads, We make You Visible !</p>
        </div>
      </div>
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide carousel-fade homeFirstRight"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713799711/WhatsApp_Image_2024-04-03_at_13.09.54_es9ctb.jpg"
              loading="lazy"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713799711/WhatsApp_Image_2024-04-03_at_13.09.55_pd5bpi.jpg"
              loading="lazy"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713799711/WhatsApp_Image_2024-04-03_at_13.09.54_2_kqpsy4.jpg"
              loading="lazy"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/c_crop,w_20000,h_800/v1713799711/WhatsApp_Image_2024-04-03_at_13.09.54_1_lymro3.jpg"
              loading="lazy"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713799711/WhatsApp_Image_2024-04-03_at_13.09.55_1_nehvfo.jpg"
              loading="lazy"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713799712/WhatsApp_Image_2024-04-03_at_13.09.56_kzof9x.jpg"
              loading="lazy"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713799712/WhatsApp_Image_2024-04-03_at_13.09.56_1_cdredy.jpg"
              loading="lazy"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span> -->
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span> -->
        </button>
      </div>
    </div>
    <div class="homeSecond">
      <div class="movingAuto">
        <img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1714029408/6555a238830641.577126a354b2e_ggewyo.gif"
          alt=""
        />
      </div>
      <div class="indexTitle">
        <h1>
          <span style="font-family: Lobster Two; font-size: 3.5rem"
            >Ėlevate Your Brand's Presence in Jodhpur.</span
          >
        </h1>
        <br />
      </div>
      <div class="indexInfo">
        <h6>
          From Tuk-Tuk's to Bus and Broad Hoardings, We Could make you heard
          instantly throughout <br />
          the Blue City of Jodhpur inside our vast Collection of Advertising
          portfolios !
        </h6>
        <br />
      </div>
      <div class="indexVideo">
        <video
          playsinline=""
          id="firstvideo"
          disableremoteplayback=""
          autoplay=""
          muted=""
          loop=""
        >
          <source
            src="https://res.cloudinary.com/ddxv0iwcs/video/upload/v1713956962/4K_Wide_Screen_Relaxing_Nature_Sounds_-_2min_Calming_Natural_Raining_Scene_mqpsec.mp4"
            type="video/mp4"
          />
        </video>
        <!-- <img src="https://t4.ftcdn.net/jpg/06/77/87/85/360_F_677878562_BXcZBJJqR9991Znfs4xEq133sReoU0av.jpg" style="width: 100%;" alt=""> -->
      </div>
    </div>
    <div class="homeThird">
      <div class="indextTitle">
        <h1>
          <span style="font-family: Lobster Two; font-size: 3.5rem"
            >Our Partners</span
          >
        </h1>
        <br />
      </div>
      <div class="indexInfo">
        <h6>
          From Jodhpur's Most Populous Schools to Most Aggressive Businesses, we
          have successfully collaborated with and took Honest appreciation.
        </h6>
        <br />
        <br />
      </div>

      <div class="slider">
        <div class="slider-items">
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1714110485/download_csbak0.jpg"
            alt=""
          />
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1714110484/download_2_pd7vx6.png"
            alt=""
          />
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1714110484/download_1_qhbpva.jpg"
            alt=""
          />
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1714110484/download_1_gfzp07.png"
            alt=""
          />
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1714110484/download_2_gynzbg.jpg"
            alt=""
          />
          <!-- <img src="https://www.svgrepo.com/show/303123/bmw-logo.svg" alt="" />
          <img
            src="https://brandlogos.net/wp-content/uploads/2014/12/starbucks_coffee_company-logo_brandlogos.net_9jqys.png"
            alt=""
          />
          <img
            src="https://www.zarla.com/images/nike-logo-2400x2400-20220504.png?crop=1:1,smart&width=150&dpr=2"
            alt=""
          />
          <img
            src="https://www.zarla.com/images/apple-logo-2400x2400-20220512-1.png?crop=1:1,smart&width=150&dpr=2"
            alt=""
          />
          <img
            src="https://www.zarla.com/images/disney-logo-2400x2400-20220513-2.png?crop=1:1,smart&width=150&dpr=2"
            alt=""
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4d/Loon_%28company%29_logo.svg/800px-Loon_%28company%29_logo.svg.png"
            alt=""
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Jumpman_logo.svg/1200px-Jumpman_logo.svg.png"
            alt=""
          />
          <img src="https://www.svgrepo.com/show/303123/bmw-logo.svg" alt="" />
          <img
            src="https://brandlogos.net/wp-content/uploads/2014/12/starbucks_coffee_company-logo_brandlogos.net_9jqys.png"
            alt=""
          /> -->
        </div>
      </div>
    </div>
    <!-- <div class="homeFourth">
      <div class="homefourthleft">
        <img
          src="https://news.ubc.ca/wp-content/uploads/2023/08/AdobeStock_559145847.jpeg"
          alt=""
        />
      </div>
      <div class="homefourthright">

      </div>
    </div> -->
    <div class="homefourth" id="homefourth">
      <h1>Elevate Your Presence Now</h1>
      <div class="row g-0 we-got">
        <div class="col-md-6 we-got-img-div">
          <img
            class="we-got-img"
            src="https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/marketing-pillar-page-marketing-overview_0.png"
            alt="A Marketing Photo"
            loading="lazy"
          />
        </div>
        <div class="col-md-6 we-got-data">
          <!-- <h2>We Got The Data about Rabies.</h2> -->
          <div class="we-got-cards">
            <div class="we-got-card row">
              <div class="col-3"><h1>1</h1></div>
              <div class="col-9">
                <h4>We make the Ads on Autos and Buses.</h4>
              </div>
            </div>
            <div class="we-got-card row">
              <div class="col-3"><h1>2</h1></div>
              <div class="col-9">
                <h4>
                  We Provide you Insights about your presence and Outreach.
                </h4>
              </div>
            </div>
            <div class="we-got-card row">
              <div class="col-3"><h1>3</h1></div>
              <div class="col-9">
                <h4>
                  Your Business gets the best Possible Locations to be Seen.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("mousemove", function (event) {
    const blob = document.getElementById("blob");
    const footer = document.getElementById("footer");

    var mouseX = event.pageX;
    var mouseY = event.pageY;
    if (mouseY > 3330) {
      blob.style.display = "none";
    } else {
      blob.style.display = "inline";
    }
    blob.animate(
      {
        left: mouseX - 25 + "px",
        top: mouseY - 25 + "px",
      },
      { duration: 3000, fill: "forwards" }
    );
  });
</script>
