<%layout("/layouts/boilerplate.ejs")%>
<div class="loginbigdiv">
  <div class="logincard">
    <h1>Login For Customers</h1>
    <br />
    <div
      class="logincredentials form-group"
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <input
        type="text"
        class="form-control"
        placeholder="Enter Your Email"
        style="width: 30rem"
      />
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="Enter Your Password"
        style="width: 30rem"
      />
      <br />
    </div>
    <button class="btn-primary btn">Submit</button>
  </div>
</div>
